---
import { Image } from "astro:assets";
import Arrow from "../../assets/arrow.svg";
import Mouse from "~icons/iconamoon/mouse";
import Underline from "../../assets/skillsUnderline.svg";
import Monitor from "~icons/mdi/monitor";
import Software from "~icons/bx/terminal";
import HTML from "../../assets/html.png";
import CSS from "../../assets/css.png";
import JS from "../../assets/js.png";
import REACT from "../../assets/react.png";

type LangList = {
  image: ImageMetadata;
  heading: string;
  href: string;
  color: string;
};

type SkillsList = {
  icon: typeof Monitor | typeof Software;
  heading: "Web Development" | "Software Development";
  languages: string[];
  class: string;
};

const LangArray: Array<LangList> = [
  {
    image: HTML,
    heading: "HTML",
    href: "https://html.spec.whatwg.org/multipage/",
    color: "text-html",
  },
  {
    image: CSS,
    heading: "CSS",
    href: "https://www.w3.org/Style/CSS/",
    color: "text-css",
  },
  {
    image: JS,
    heading: "JS",
    href: "https://developer.mozilla.org/en-US/docs/Web/JavaScript",
    color: "text-js",
  },
  {
    image: REACT,
    heading: "REACT",
    href: "https://react.dev/",
    color: "text-react",
  },
];

const skillsArray: Array<SkillsList> = [
  {
    icon: Monitor,
    heading: "Web Development",
    languages: ["HTML", "CSS", "JS", "REACT"],
    class: "sm:col-start-2",
  },
  {
    icon: Software,
    heading: "Software Development",
    languages: ["Python", "Node.js"],
    class: "sm:col-start-5",
  },
];
---

<section id="skills" class="bg-[url('skills.png')] mx-5">
  <div class="wb-container grid grid-cols-1 sm:grid-cols-8 py-20 gap-10 items-center space-y-10">
    <div class="hidden lg:flex flex-col items-center gap-2 sm:col-start-4 sm:col-end-6">
      <Mouse class="text-3xl text-brand-1" />
      <Image src={Arrow} alt="Arrow" />
    </div>

    <span class="text-brand-2 text-8xl font-sans hidden lg:block col-start-6">&lt;/&gt;</span>

    <div class="flex flex-col items-center gap-2 sm:col-start-3 sm:col-end-7
       text-brand-1">
      <h2 class="text-6xl font-sans">Skills</h2>
      <Image src={Underline} alt="Underline" />
      <p class="text-white">I am striving to never stop learning and improving</p>
    </div>

    <div class="sm:col-span-8 sm:grid-cols-8 grid grid-cols-1 gap-10">
      {
        skillsArray.map((item) => {
          return (
            <section
              class={`flex flex-col ${item.class} items-center gap-2 bg-brand-1
            text-bg-2 text-2xl px-24 py-10 rounded-xl sm:col-span-3`}
              style="background: linear-gradient(to right, #28A9E0 12px, #98FAEC 0)"
            >
              <Monitor />
              <h3>{item.heading}</h3>
              <p class="text-base">{item.languages.join("·")}</p>
            </section>
          );
        })
      }
    </div>

    <div class="sm:col-span-8 grid grid-cols-2 lg:grid-cols-4 gap-10 mx-auto">
      {
        LangArray.map((item) => {
          return (
            <a href={item.href} class="flex flex-col gap-6">
              <Image src={item.image} alt={item.heading} class="hover:scale-110" />
              <p class={`text-center text-2xl ${item.color}`}>{item.heading}</p>
            </a>
          );
        })
      }
    </div>
  </div>
</section>
