---
import FaGithub from "~icons/bi/github";
import FaLinkedin from "~icons/bi/linkedin";
import FaTwitter from "~icons/bi/twitter";
import FaHome from "~icons/bi/house-fill";

const currentPath = Astro.url.pathname;

type FooterLinks = {
  label: string;
  href: string;
};

type FooterLinkCategories = {
  explore: Array<FooterLinks>;
  company: Array<FooterLinks>;
};

type SocialIconTypes = {
  href:
    | "https://twitter.com/SagarKapr"
    | "https://github.com/Sagar-Kap/"
    | "https://www.linkedin.com/in/sagarkapr/"
    | "https://weburz.com";
  title: "Twitter" | "GitHub" | "LinkedIn" | "Site";
  icon: typeof FaTwitter | typeof FaGithub | typeof FaHome;
};

const footerlinks: FooterLinkCategories = {
  explore: [
    { label: "Home", href: "/" },
    { label: "About", href: "/about" },
    { label: "Services", href: "/services" },
    // TODO: Uncomment the following line after a complete portfolio is availabe
    // { label: "Portfolio", href: "/portfolio" },
  ],
  company: [
    { label: "Contact", href: "/contact" },
    { label: "Terms and Conditions", href: "/terms-and-conditions" },
    { label: "Privacy Policy", href: "/privacy-policy" },
  ],
};

const socialIcons: Array<SocialIconTypes> = [
  {
    title: "Twitter",
    href: "https://twitter.com/SagarKapr",
    icon: FaTwitter,
  },
  {
    title: "LinkedIn",
    href: "https://www.linkedin.com/in/sagarkapr/",
    icon: FaLinkedin,
  },
  {
    title: "GitHub",
    href: "https://github.com/Sagar-Kap/",
    icon: FaGithub,
  },
  {
    title: "Site",
    href: "https://weburz.com",
    icon: FaHome,
  },
];

---

    <footer class="bg-bg-2">
      {/* INFO: Section for the logo and the all the links*/}
      {/* TODO: Refactor using Grids instead of Flexbox to improve code quality
      & add some vertical spacing to each section */}
      
      
      <div
        class="wb-container md:flex px-4 justify-between py-12 space-y-8
        sm:space-y-0"
      >
      
        {/* INFO: Section for the Logo */}
        <section class="flex flex-col items-center gap-4 pb-4">
          <a href="/">
            <p class="text-xl">
              <span class="text-brand-1">&lt;SK/&gt;</span>&nbsp;Sagar
              Kapoor
            </p>
          </a>
          <a
            href="mailto:sagar.kapoor@weburz.com"
            class="underline underline-offset-2 hover:text-brand-1"
          >
            sagar.kapoor@weburz.com
          </a>
        </section>

        {/* INFO: Section for Social Media Links */}
        <section>
          <span class="font-bold text-xl">
            <span class="text-brand-1">Fo</span>llow Me
          </span>

          <span class="flex space-x-4 justify-center my-8">
            {socialIcons.map((icon) => (
              <a
              
                href={icon.href}
                target="_blank"
                rel="noreferrer"
              >
                <icon.icon class="hover:scale-125" />
              </a>
            ))}
          </span>
        </section>

        {/* INFO: Section for the navigation links */}
        <section>
          <span class="font-bold text-xl">
            <span class=" text-brand-1">Ex</span>plore
          </span>

          {footerlinks.explore.map((link) => {
            const isActive = currentPath === link.href;

            return (
              <a
          
                href={link.href}
                class={`block py-2 wb-link ${
                  isActive ? "text-brand-1" : ""
                } `}
              >
                {link.label}
              </a>
            );
          })}
        </section>

        {/* INFO: A section for and contact legal links */}
        <section>
          <span class="text-xl font-bold">
            <span class="text-brand-1">Us</span>eful Links
          </span>
          {footerlinks.company.map((link) => {
            const isActive = currentPath === link.href;

            return (
              <a
             
                href={link.href}
                class={`block py-2 wb-link ${
                  isActive ? "text-brand-1" : ""
                }`}
              >
                {link.label}
              </a>
            );
          })}
        </section>
      </div>

      {/* INFO: Section for the copyright notice */}
      <section class="mb-8 text-center text-white container mx-auto px-4">
        {/* INFO: A simple divider to distinguish the two sections */}
        
        <hr class="mb-8 border-b-1 border-grey" />

        <small>
          Copyright &copy; 2021-{new Date().getFullYear()} | Weburz LLC | All
          Rights Reserved
        </small>
      </section>
    </footer>
  

   